<!-- Este archivo hace referencia a la página creada en el primer tramo -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Tramo 1 - CódigoRoto</title>
    
    <!-- Estilo externo -->
    <link rel="stylesheet" href="/assets/css/miestilo.css">
    
    <!-- Estilo interno -->
    <style>
        p {
            color: black;
        }
    </style>
</head>

<header>
        <img src="/assets/img/logoprincipal.png" alt="Logo de la Empresa" width="150">
    <h1>CódigoRoto - Programación y mucho más</h1>
</header>

<body>

<nav>
    <ul>
        <li><a href="https://www.google.com.ar" target="_blank">Google</a></li>
        <li><a href="https://www.yahoo.com" target="_blank">Yahoo</a></li>
        <li><a href="https://talentosdigitales.ar/" target="_blank">Talentos Digitales</a></li>
    </ul>
</nav>

<section>
    <div class="cajaTexto">
        <p class="textoPersonalizado">
             Tu espacio para aprender y compartir sobre desarrollo web, programación y tecnología
            
        </p>
        <p>
            Nuestro compromiso es brindar un servicio personalizado y garantizar la satisfacción de nuestros clientes.
        </p>
        
    </div>
        <img src="/assets/img/banner1.avif" alt="Imagen de empresa">
    <h2>Temas que cubrimos</h2>
    <ul>
        
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
    </ul>

    <h2>Formulario de Contacto</h2>
    <form action="#" method="post" class="formularioContacto">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br><br>

        <label for="correo">Correo electrónico:</label><br>
        <input type="email" id="correo" name="correo"><br><br>

        <label for="mensaje">Mensaje:</label><br>
        <textarea id="mensaje" name="mensaje"></textarea><br><br>

        <input type="submit" value="Enviar" class="boton">
    </form>
</section>

<footer>
    <div class="footer-content">
        <p>&copy; 2025 CódigoRoto - Todos los derechos reservados</p>
    </div>
</footer>

</body>
</html>
